.tab__item{
    height: 40px;
    line-height: 40px;
}
.tab_selected{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid black;
    opacity:0;
    animation: show 2s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}
.tab__span{
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    font-family: Arial;
    letter-spacing: -0.01em;
    color: #07000F66;


}
.span_selected{
    color: #07000F;
    font-weight: bold;


}
@keyframes show {
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
